* {
    background-color: #f0f8ff;
}

.App {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

.search-bar{
    margin: 20px;
}

.search-bar input{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #fff;
}

.search-bar button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.weather-display{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.weather-card{

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0,0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.weather-card h3{
    margin-bottom: 10px;
    font-size: 20px;
    background-color: #fff;
}

.weather-card p{
    margin: 0;
    font-size: 18px;
    background-color: #fff;
}